# -----------------------------------
# NODE / FRONTEND
# -----------------------------------

node_modules/
**/node_modules/

dist/
**/dist/

# -----------------------------------
# PYTHON
# -----------------------------------

venv/
**/venv/

__pycache__/
**/__pycache__/

*.pyc

# -----------------------------------
# ENV / SECRETS
# -----------------------------------

.env
**/.env

# -----------------------------------
# TEMP FILES
# -----------------------------------

temp/
**/temp/

# -----------------------------------
# IDE
# -----------------------------------

.vscode/
.idea/

# -----------------------------------
# OS FILES
# -----------------------------------

.DS_Store
Thumbs.db